@charset "UTF-8";

body {
    background-color: blueviolet;
}

h1, h2 {
    text-align: center;
    color: aliceblue;
    text-decoration: underline;
    box-shadow: 10px 10px 10px black;
}

main {
    text-align: justify;
}

