@charset "UTF-8";

body {
    background-color: rgba(205, 199, 210, 0.359);
}

h1, h2 {
    text-align: center;
    padding-bottom: 1rem;
    color: rgb(64, 83, 100);
    text-decoration: underline;
}

main {
    text-align: justify;
    
}

